<div class="l3">
	<strong>
		<small>SUBSCRIBE NEWSLETTER</small>
		<br>
		<form action="http://culinaryagents.us6.list-manage1.com/subscribe/post?u=420651a7fd&amp;amp;id=2bafa64ab0" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" style="margin-top: 5px;" target="_blank">
			<input class="input-small" id="mce-EMAIL" name="EMAIL" placeholder="Email" required="required" type="email" value="">
			<input class="btn btn-default btn-small" id="mc-embedded-subscribe" name="subscribe" style="margin-top:5px;" type="submit" value="Subscribe">
		</form>
	</strong>
</div>