<p>
	<a href="#" class="btn btn-default">Default Button</a>
</p>
<p>
	<a href="#" class="btn btn-primary">Primary Button</a>
</p>
<p>
	<a href="#" class="btn btn-primary btn-md">Medium Primary Button</a>	
</p>
