<div class="navbar" id="app-navbar" style="z-index:300">
	<div class="container">
		<button class="navbar-toggle navbar-toggle-left" id="menu-button">
			<i class="icon-menu-1 icon-2x"></i>
		</button>
		<a class="navbar-brand" href="/">
			<img alt="Logo" src="../../images/logo.svg">
		</a>
		<div class="nav-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/search/jobs">Jobs</a></li>
				<li><a href="/search/people">Networking</a></li>
				<li><a href="/prices">Post a Job</a></li>
			</ul>
			<ul class="nav pull-right"></ul>
		</div>
	</div>
</div>