.career-page {
  h2 {
    font-family: Merriweather;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .font-merri {
    font-size:18px;
    font-family: Merriweather;
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
  }

  .white-wall {
    background-image: image-url('career/white_brick_wall.png');
  }

  .timeline-avatar {
    border-radius: 50%;
    border: 7px solid $brand-primary;
  }

  .popover {
    display: block;
    position: relative;
    margin-left: 0;
    max-width: 100%;
  }
}