$fontFamily: Helvetica, Arial, sans-serif !default;

body {
  font-family: $fontFamily;
  font-size: 9pt;
  color: #000;
  line-height: 13pt;
  padding: 0;
}

a {
  color: #009f4a;
  text-decoration: none;
}

.text-muted {
  color: #999;
}

.text-block {
  padding: 0px 15px 0px 50px;
}

.no-break {
  page-break-inside: avoid;
}

.text-block > br:last-child {
  display: none;
}

hr {
  margin: 15px 0px;
}

h1 {
  font-weight: bold;
  font-size: 16pt;
  margin: 5px 0px;
}

h3 {
  font-weight: bold;
  font-size: 8pt;
  margin-bottom: 0px;
  color: #009f4a;
}